.panel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.panel-info {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-align: center;
}